<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="AdderServiceConfiguration"
        address="http://localhost:8733/WCFService/AdderService"
        binding="basicHttpBinding"
        contract="WCFContracts.IAddThings" />
    </client>
    <bindings>
      <basicHttpBinding />
    </bindings>
  </system.serviceModel>
</configuration>